.footer {
    padding: 5rem 0 2rem;
    @include br-50;
    background: var(--purple);
    &--main {
        .footer__logo {
            pointer-events: none;
        }
    }
    &__logo {
        img,
        svg {
            width: clamp(13.3rem, 11.19vw, 21.5rem);
        }
    }
    &__row {
        @include grid-3-5-4;
        row-gap: 3.2rem;
        p,
        a {
            color: var(--white);
        }
    }
    &__actions {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 0.8rem;
    }
    &__nav {
        ul {
            @include grid-3-2;
            row-gap: 0.8rem;
        }
        li,
        a {
            @include fz-16;
            font-weight: 500;
        }
    }
    &__info {
        @include grid-2;
        p,
        a {
            @include fz-14;
            font-weight: 500;
            color: var(--purple-light);
        }
        a:hover {
            color: var(--white);
        }
    }
    @media (max-width: $bp2) {
        padding-top: 3rem;
        &__info {
            grid-template-columns: 1fr auto;
        }
        &__nav {
            li,
            a {
                @include fz-18;
            }
        }
        &__info {
            p,
            a {
                @include fz-16;
            }
        }
    }
    @media (min-width: $bp4) and (max-width: $bp2) {
        &__logo {
            grid-column: 1/3;
        }
    }
    @media (max-width: $bp4) {
        &__actions {
            justify-content: flex-start;
        }
        &__info {
            grid-template-columns: 1fr;
        }
    }
    @media (max-width: $bp5) {
        &__actions .btn {
            flex: 1;
        }
    }
}
