@mixin p-24 {
    padding: 2.4rem;
    @media (max-width: $bp1) {
        padding: 2rem;
    }
}
@mixin pt-80 {
    padding-top: 8rem;
    @media (max-width: $bp1) {
        padding-top: 6rem;
    }
    @media (max-width: $bp2) {
        padding-top: 4rem;
    }
}
@mixin pb-120 {
    padding-bottom: 12rem;
    @media (max-width: $bp1) {
        padding-bottom: 10rem;
    }
    @media (max-width: $bp2) {
        &:not(:last-child) {
            padding-bottom: 8rem;
        }
    }
}
@mixin pb-160 {
    padding-bottom: 16rem;
    @media (max-width: $bp1) {
        padding-bottom: 14rem;
    }
    @media (max-width: $bp2) {
        &:not(:last-child) {
            padding-bottom: 12rem;
        }
    }
}